* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    z-index: 2;

    
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;

    @include respond(smallest) {
        font-size: 80%;
    }
}

body {
    position: relative;
}


ul {
    list-style-type: none;
}

a:link,
a:active,
a:visited,
a:focus {
    // color: black;
    text-decoration: none;
    
}

button, input[type=submit] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

input,
textarea {
    outline: none;
    border: transparent;
}

h1, h2, p, li, label, span, input, textarea {

    direction: rtl;
    text-align: right;
    font-weight: 100;
    // font-family: 'Modak', cursive;

    &.non-hebrew, 
    &.non-hebrew * {
        text-align: left;
        direction: ltr;
    }
} 