// @import url('https://fonts.googleapis.com/css?family=Tulpen+One|Exo|Kanit:800|Nunito|Molle:400i|Open+Sans+Condensed:300|Zhi+Mang+Xing|Anton|Raleway:100,300,900|Montserrat|Montserrat:400,900,900i|Josefin+Sans:100, 300,700,700i|Exo+2:100,100i,200&display=swap');

// ///////////MIXINS

$main-color: rgb(172, 68, 182);
// $main-variant-color: rgb(150, 31, 114);
$side-color: rgb(255, 236, 182);
// $side-color: rgb(139, 247, 187);
$golden-color: rgb(194, 161, 72);


///////////MIXINS

$field1: rgba(#c912eb, .5);
$field2: rgba(#f719a7, .5);
$field3: rgba(#fa3d8d, .5);
$field4: rgba(126, 14, 38, 0.6);




body {
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;

    &.in-modal {
        overflow-y: hidden;
    }

    
}

.filters {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.splash {
    position: absolute;
    display: flex;
    display: none;
    // flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: white;

    z-index: 20;
    width: 100%;
    // padding-top: 13rem;
    // padding-right: 17rem;
    height: 100vh;
    // perspective: 1000px;

    &__stripe {
        flex: 1;
        transform-origin: left;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, transparent 50%, rgb(20, 20, 20) 50%);
        background-position: 100% 0;
    }
    // &__p {
    //     margin-left: auto;
    //     width: fit-content;
    // }

    // &__span {
    //     font-family: myFont;
    //     font-weight: bold;
    //     font-size: 4rem;
    //     color: rgba(228, 219, 204, 0.719);
    //     margin-left: 1.55rem;
    // }
}

.canvas {
    display: none;
    position: fixed;
    top:0;
    right: 0;
    left:0;
    bottom:0;
    z-index: 88;
}

.container {
    position: relative;
    // perspective: 2px;
    background-color: rgb(219, 218, 164);
    background-image: linear-gradient(to bottom, transparent, rgba(241, 223, 60, 0.61)),
    radial-gradient(at 100% 0, rgba(243, 131, 131, 0.842), transparent 70%);//, 
    // url(https://cdn.pixabay.com/photo/2012/03/04/00/43/architecture-22039_1280.jpg);
    // background-attachment: auto, auto, fixed;
    // background-position: auto, auto, 0, 100vh;
    // background-repeat: no-repeat;
    // background-blend-mode: luminosity;
    // overflow-x: hidden;
    // // height: 100vh;
    // overflow-y: scroll;
    // &::after {
    //     @include pseudo();
    //     height: 100vh;
    //     transform: translate(0, 100vh);
    //     background-image: u;
    //     z-index: -10;
    // }
}

.section {
    min-height: 100vh;
    background-color: transparent;
}



.body {
    position: relative;
}

.facebook {

    &__container {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);
        z-index: 11;
        padding: .5rem 1rem;
        background-size: 100% 200%;
        // background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.493) 50%);
        background-position: bottom;

    }

    &__a {

        & > svg {
            height: 4rem;
            width: 4rem;
            fill: rgba(24, 37, 77, .25);
            mix-blend-mode: luminosity;
            transition: .2s;

            &:hover {
                &  {
                    fill: rgba(55, 98, 240, .5);
                }
            }
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat, no-repeat, auto;
    position: relative;
    height: 100vh;
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: right 80%; 
    background-blend-mode: screen;

    &::after {
        right: 0;
        left: auto;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 30rem;
        background-image: radial-gradient(at 50% 50%, rgba(207, 159, 0, .35) 1px, transparent 2px);
        background-size: 2.15rem 2.15rem;
        z-index: -1;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        padding-top: 10rem;
        padding-right: 12rem;
        width: 100%;
        height: 100vh;

        @include respond(smallest) {
            align-items: center;
            padding: 25rem 10rem 0;
        }
    }

    &__logo {
        
        &-container {
            opacity: .4;
            position: absolute;
            left: 0;
            transform: translate(-8%, -20%);
        }

        height: 20rem;
        width: 20rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__heading-container {
        position: relative;
        &::after {
            position: absolute;
            width: 20%;
            height: 130%;
            top: 0;
            right: 0;
            background-image: repeating-linear-gradient(90deg, transparent 1px, rgba(116, 103, 47, 0.3) 1px, rgba(116, 103, 47, 0.3) .8rem, transparent .8rem, transparent .9rem);
            transform: skew(-15deg, -12deg);
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Assistant', sans-serif;
        text-align: right;
        
        @include respond(smallest) {
            margin-bottom: 3rem;
            align-items: center;
        }

        &-span {
            display: block;
            transform-origin: right;

            &--upper {
                color: rgba(255, 255, 255, 1);
                font-size: 6rem;
                font-weight: 100;
                font-family: dana;
                padding-right: 2rem;
                line-height: 1;
                margin-left: 2rem;
                margin-bottom: -3rem;
                transform: skewX(-15deg);

                @include respond(smallest) {
                    font-size: 7rem;
                    text-align: center;
                    margin-bottom: 0;
                    margin-left: 0;
                    color: rgba(207, 212, 228, 0.966);
                }

            }

            &--lower {
                position: relative;
                display: block;
                color: rgb(255, 255, 255);
                text-shadow: -10px -5px 0 rgba(56, 11, 11, 0.08);
                letter-spacing: -.4rem;
                line-height: 1;
                font-weight: 600;
                font-size: 9rem;
                margin-top: 2rem;
                
                @include respond(smallest) {
                    display: none;
                }

                &.mobile {
                    display: none;

                    @include respond(smallest) {
                        display: block;
                        line-height: 1;
                        padding: 0 3rem;
                    }
                }
            }

            &--english {
                text-transform: capitalize;
                font-size: 6rem;
                line-height: 1;
            }
        }
    }

    &__desc {
        display: block;
        text-align: right;
        width: 30vw;
        font-weight: 400;
        margin-left: auto;
        font-size: 2.5rem;
        line-height: 1.1;
        text-align: justify;
        padding-bottom: .5rem;
        color: rgba(77, 56, 0, .4);
        direction: rtl;
        
        @include respond(smallest) {
            width: auto;
            text-align: center;
            font-size: 3.5rem;
            font-weight: 500;
            color: rgb(243, 241, 232);
        }

        &-shadow {
            position: absolute;
            display: none;
            width: 20%;
            height: 100%;
            top: 0;
            right: 0;
            box-shadow: 0 0 10px black;   
        }
        
        &-container {
            position: relative;
            margin-bottom: 3rem;
            padding-right: 1rem;
            align-self: flex-end;
            border-right: 10px solid rgba(54, 51, 12, .2);

            @include respond(smallest) {
                margin-bottom: 2rem;
            }
        }
    }

    &__bottom {
        display: flex;
        gap: 30rem;
        flex-direction: row-reverse;
    }

    &__targets {
        display: grid;
        padding-top: 2rem;
        align-self: flex-start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
    }

    &__target {
        box-sizing: content-box;
        font-size: 1.95rem;
        max-width: 20rem;
        direction: rtl;
        padding: 2rem 3rem;
        text-align: justify;
        color: black;
        font-weight: 300;
        background-color: rgba(255, 255, 255, 0.459);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .05);
        backdrop-filter: blur(10px);

        &--1 {
            border-radius: 10px 0 0 0;
        }
        &--2 {
            border-radius: 0 10px 0  0;
        }
        &--3 {
            border-radius: 0 0 0 10px;
        }
        &--4 {
            border-radius: 0 0 10px 0;
        }
    }

    &__mailbox {
        position: relative;
        flex: 1;
        align-self: flex-end;
        padding-bottom: 3rem;

        &::after {
            @include pseudo();
            right: 0;
            left: 0;
            bottom: auto;
            top: 0;
            z-index: -9;
            width: 140%;
            height: 150%;
            $actualBG: rgb(151, 29, 60) 0px, transparent 2px;
            background-image: radial-gradient(at 50% 50%, rgba(209, 91, 121, .85) 0px, transparent 2px);
            background-image: radial-gradient(at 25% 25%, $actualBG), radial-gradient(at 75% 75%, $actualBG);
            background-size: 2rem 2rem;
            clip-path: polygon(0 0, 73% 30%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 71% 22%, 100% 100%, 18% 79%, 0% 60%, 0 21%);
            clip-path: polygon(0 0, 69% 29%, 100% 100%, 0 63%);
        }
    }

    &__form {
        grid-area: form;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 4rem;
        padding-left: 10rem;
        gap: 1rem;
    }

    &__group {
        position: relative;
    }

    &__input,
    &__text {
        border: 2px solid rgba(204, 13, 13, 0.15);
        background-color: rgba(255, 255, 255, .75);
        color: black;
        border-radius: 5px;
        transition: .2s;
        
        &:focus {
            background-color: rgb(255, 255, 255);
            border: 2px solid rgba(204, 13, 13, 0.25);
        }
    }

    &__input {
        line-height: 2;
        color: rgb(36, 36, 36);
        padding: 0 1rem;
        font-size: 2rem;
        caret-color: rgb(161, 153, 103);
        width: 100%;

        @include respond(smallest) {
            font-size: 3rem;
            line-height: 2;
        }
    }

    &__text {
        line-height: 1;
        font-size: 2rem;
        padding: 1rem;
        width: 100%;
        min-height: 13vh;
    }

    &__label {
        position: absolute;
        top: 0;
        transform: translate(calc(100% + 2rem), .5rem);
        text-decoration: underline;
        text-align: right;
        font-weight: 700;
        right: 0;
        line-height: 1;
        color: rgb(100, 100, 100);
        font-size: 2.3rem;
    }

    &__submit {
        font-size: 3rem;
        margin-top: 1rem;
        align-self: center;
        padding: .5rem 3rem;
        border-radius: 6px;
        color: rgba(255, 255, 255, 0.808);
        background-color: rgb(170, 142, 142);
        transition: .2s;

        &:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(112, 70, 70);
        }
    }

    &__toggle-indicator {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -190%); 

        & > svg {
            fill: rgba(0, 0, 0, .3);
            width: 4rem;
            height: 4rem;
        }

        &.hidden {
            display: none;
        }
    }
}


.perks {
    position: relative;
    padding: 5rem 30rem;
    padding-top: 35rem;
    align-items: center;
    
    &__heading {
        font-size: 8rem;
        text-align: center;
        color: rgba(87, 0, 0, 0.28);
        margin-bottom: 10rem;

        & > span {
            font-weight: 500;
            text-align: center;
        }
    }

    &__container {
        background-color: rgb(245, 245, 245);
        padding: 13rem 17rem;
        border-radius: 7px;
        box-shadow: 0 1rem 4rem rgba(173, 113, 0, 0.308);
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-basis: 1 0 100%;
        gap: 6.5rem;
    }
    
    &__item {
        position: relative;
        color: rgba(0, 0, 0, .8);
        font-size: 2.2rem;
        font-weight: 300;
        border-radius: 4px;
        border-top: 2px solid rgba(0, 0, 0, 0.219);
        border-bottom: 2px solid  rgba(0, 0, 0, 0.219);
        text-align: center;
        background-color: white;
        padding: 2rem 5rem;
        
        @include respond(smallest) {
            font-size: 3rem;
            line-height: 1.3;
            padding: 6rem 15vw;
        }
    }
}